<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta robots="noindex, nofollow" />
  <title>@ViewData["Title"] - DSV Meeting Room Booking</title>
  <script type="importmap"></script>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/index-page.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/booking.css" asp-append-version="true" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
  <header class="header">
    <nav class="navbar navbar-expand-lg border-bottom">
      <div class="nav-container">
        <a class="logo navbar-brand" asp-page="/Index">
          <span>DSV</span>
          <span>Meeting Room Booking</span>
        </a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" asp-page="/Index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-page="/Bookings">Bookings</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="">
    <main role="main">
      @RenderBody()
    </main>
  </div>

    <footer class="footer">
      ©<small>2026</small> <span>DSV</span><small> Room Booking Service</small>
    </footer>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>

  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
