.booking-form-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.booking-time-period-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.booking-time-date {
  width: 100%;

  @media (min-width: 576px) {
    width: auto;
  }
}

.booking-time-range {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;

  @media (min-width: 576px) {
    width: auto;
  }
}

.booking-time-start, .booking-time-end {
  width: 100%;
}

.booking-form-image {
  background-image: url("/images/room.jpg");
  background-size: cover;
  background-position: center;
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}