/* INDEX PAGE ___________________________________________________________________________________*/
/* @media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 95% !important;
  }
} */

/*col-md-3.border-end.bg-light {
  border-right-color: orange !important;
  border-right-width: thin !important;
}*/

.index-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: 15px;
  padding: 30px;
  max-width: 100%;
  margin: 0 auto;
}

/*TEST CODE TO OVERRIDE BOOTSTAP*/

/* First: Force them to be stacked (Mobile View) */
/*.custom-breakpoint-row .col-md-2,
.custom-breakpoint-row .col-md-10 {
  width: 100%;
}*/

/* Second: Define exactly when they should jump to side-by-side */
/*@media (min-width: 1100px) {*/
/* Change 1100px to your preferred "magic number" */
/*.custom-breakpoint-row {
  display: flex;
  flex-wrap: nowrap;
}

.custom-breakpoint-row .col-md-2 {
	width: 16.66%;*/
/* Equivalent to col-2 */
/*}

.custom-breakpoint-row .col-md-10 {
  width: 83.33%;*/
/* Equivalent to col-10 */
/*}
}*/

.index-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: 250px 1fr;
  }
}

/* filter section */
.filter-section {
  background-color: rgba(var(--bs-light-rgb));
  padding: 1rem;
}

/* room list */
.rooms-list {
  list-style: none;
  padding-left: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(28rem, 100%), 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.room-card {
  color: unset;
  text-decoration: none;

  background-color: var(--color-cards);
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  height: 100%;

  transition: box-shadow 0.5s ease-in-out;

  @media (min-width: 992px) {
    grid-template-columns: 2fr 3fr;
  }

  &:hover {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .3);
  }
}

.room-card-image {
  height: 100%;
}

.room-card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem;
}

.room-card-capacity {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  padding: 0.25rem 0.5rem;
}

.room-card-name {
  font-size: 1.75rem;
  font-weight: 700;
  margin-right: 4rem;
}

.room-available,
.room-unavailable {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.25rem;

  &::before {
    content: "";
    display: inline-block;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
  }
}

.room-available {
  font-size: 1.25rem;
  color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity, 1));
  padding-left: 0.25rem;

  &::before {
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity, 1));
  }
}

.room-unavailable {
  font-size: 1.25rem;
  color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity, 1));
  padding-left: 0.25rem;

  &::before {
    background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity, 1));
  }
}