/* INDEX PAGE ___________________________________________________________________________________*/
/* @media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 95% !important;
  }
} */

/*col-md-3.border-end.bg-light {
  border-right-color: orange !important;
  border-right-width: thin !important;
}*/

.index-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: 15px;
  padding: 30px;
  max-width: 100%;
  margin: 0 auto;
}

/*TEST CODE TO OVERRIDE BOOTSTAP*/

/* First: Force them to be stacked (Mobile View) */
/*.custom-breakpoint-row .col-md-2,
.custom-breakpoint-row .col-md-10 {
  width: 100%;
}*/

/* Second: Define exactly when they should jump to side-by-side */
/*@media (min-width: 1100px) {*/
/* Change 1100px to your preferred "magic number" */
/*.custom-breakpoint-row {
  display: flex;
  flex-wrap: nowrap;
}

.custom-breakpoint-row .col-md-2 {
	width: 16.66%;*/
/* Equivalent to col-2 */
/*}

.custom-breakpoint-row .col-md-10 {
  width: 83.33%;*/
/* Equivalent to col-10 */
/*}
}*/

/*
@media(min-width: 768px){

  .index-left-column {
    position: relative;
    background-color: rgba(var(--bs-light-rgb));
    padding: 1.5rem;
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);

    @media (min-width: 768px) {
      border-bottom: none;
      border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    }
  }

  .filter-section {
    position: sticky;
    top: 6.6875rem;
  }

  #filterForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
*/

.index-layout {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    grid-template-columns: 250px 1fr;
  }
}

#filter-form {
  display: contents;
}

.index-left-column {
  position: relative;
  background-color: rgba(var(--bs-light-rgb));
  padding: 1.5rem;
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  
  @media (min-width: 768px) {
    border-bottom: none;
    min-height: calc(100vh - 10.82425rem);
    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  }
}

.filter-section {
  position: sticky;
  top: 7.82425rem;

  & summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 500;

    @media (min-width: 768px) {
      pointer-events: none;
    }

    &::marker {
      content: "" /* Hide default marker */
    }

    &::after {
      content: "◢";
      font-size: 1.25rem;
      transform: rotate(45deg);


      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  &[open] summary::after {
    content: "◤";
  }

  &::details-content {
    content-visibility: visible;
  }
}

.filter-option-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.filter-section:not([open]) .filter-option-wrapper {
  @media (max-width: 768px) {
    content-visibility: hidden;
    display: none;
    overflow: hidden;
  }
}

.filter-options-label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.filter-options {
  padding: 0;
  margin: 0;
}

/* room list */
.index-right-column {
  padding: 1.5rem;
  height: fit-content;

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    h1 {
      width: max-content;
    }
  }
}

.index-booking-time-wrapper {
  z-index: 1000;
  background-color: white;
  position: sticky;
  top: 5.82425rem;
  width: calc(100% + 3rem);
  margin: 0 -1.5rem 1.5rem -1.5rem;
  padding: 1.5rem;
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);

  @media (min-width: 768px) {
    position: static;
    width: 100%;
    margin: 0;
    margin: 1.5rem 0;
    padding: 0;
    border: none;
  }

  @media (min-width: 1200px) {
    margin: 0;
    width: max-content;
    place-self: end;
  }
}

.rooms-list {
  list-style: none;
  padding-left: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(30rem, 100%), 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;

  @media (min-width: 1200px) {
    grid-column: 1 / 3;
  }
}

.room-card {
  color: unset;
  text-decoration: none;

  background-color: var(--color-cards);
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;

  transition: box-shadow 0.5s ease-in-out;

  @media (min-width: 992px) {
    grid-template-columns: 2fr 3fr;
  }

  &:hover {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .3);
  }
}

.room-card-image {
  height: 100%;
}

.room-card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.room-card-capacity {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  padding: 0.25rem 0.5rem;
}

.room-card-name {
  font-size: 1.75rem;
  font-weight: 700;
  margin-right: 4rem;
}

.room-available,
.room-unavailable {
  position: relative;
  font-weight: 500;
  font-size: 1.25rem;
  padding-left: 1.5rem;

  &::before, &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0.5rem;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &::before {
    animation: pulse 2s infinite;
  }
}

@keyframes pulse {
  0% {
    transform: translateY(-50%) scale(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%) scale(2.5);
    opacity: 0;
  }
}

.room-available {
  color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity, 1));

  &::before, &::after {
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity, 1));
  }
}

.room-unavailable {
  color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity, 1));

  &::after {
    background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity, 1));
  }
}