html {
    box-sizing: border-box;
    font-size: 14px;
}
*, *::before, *::after {
    box-sizing: inherit;
}
html, body {
    height: 100%;
}
body{
    padding:0;
    margin:0;
}

/*GLOBAL STYLES_____________________________________________________*/
:root {
    --lightblue: rgb(245, 245, 245);
    --blue: rgb(0, 41, 102);
    --lightgrey: #F5F5F5;
    --contrast: #ffc107;
    --color-cards: var(--lightgrey);
    --color-blue: var(--blue);
    --color-lightblue: var(--lightblue);
    --color-accent: var(--contrast);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}



/* INDEX PAGE ___________________________________________________________________________________*/

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 95%!important;
    }
}
/*col-md-3.border-end.bg-light {
    border-right-color: orange !important;
    border-right-width: thin !important;
}*/

    .index-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
        gap: 15px;
        padding: 30px;
        max-width: 100%;
        margin: 0 auto;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/*TEST CODE TO OVERRIDE BOOTSTAP*/

/* First: Force them to be stacked (Mobile View) */
/*.custom-breakpoint-row .col-md-2,
.custom-breakpoint-row .col-md-10 {
    width: 100%;
}*/

/* Second: Define exactly when they should jump to side-by-side */
/*@media (min-width: 1100px) {*/ /* Change 1100px to your preferred "magic number" */
    /*.custom-breakpoint-row {
        display: flex;
        flex-wrap: nowrap;
    }

        .custom-breakpoint-row .col-md-2 {
            width: 16.66%;*/ /* Equivalent to col-2 */
        /*}

        .custom-breakpoint-row .col-md-10 {
            width: 83.33%;*/ /* Equivalent to col-10 */
        /*}
}*/

    /*FOOTER_______________________________________*/
footer {
    background-color: var(--color-blue);
     color:var(--lightgrey)!important;
}
.contrast-color{
    color:var(--color-accent)
}