/*GLOBAL STYLES_____________________________________________________*/
:root {
  --lightblue: rgb(245, 245, 245);
  --blue: rgb(0, 41, 102);
  --lightgrey: #F5F5F5;
  --contrast: #ffc107;
  --color-cards: var(--lightgrey);
  --color-blue: var(--blue);
  --color-lightblue: var(--lightblue);
  --color-accent: var(--contrast);
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100svh;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem --color-lightblue;
}

/*HEADER_______________________________________*/

/*FOOTER_______________________________________*/
footer {
  background-color: var(--color-blue);
  color: var(--lightgrey) !important;
}

.contrast-color {
  color: var(--color-accent)
}