@page
@model DSVMeetingRoomBooking.Pages.AddRoomModel
@{
}

<form method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>        
        <input asp-for="MeetingRoom.Name" class="form-control" placeholder="Name">
        <span asp-validation-for="MeetingRoom.Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <input asp-for="MeetingRoom.Capacity" class="form-control" placeholder="Capacity">
        <span asp-validation-for="MeetingRoom.Capacity" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Equipment</label>
        <input asp-for="MeetingRoom.Name" class="form-control" placeholder="Equipment">
        <span asp-validation-for="MeetingRoom.Equipment" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Description</label>
        <input asp-for="MeetingRoom.Description" class="form-control" placeholder="Name">
        <span asp-validation-for="MeetingRoom.Name" class="text-danger"></span>
    </div>
</form>