@page
@model DSVMeetingRoomBooking.Pages.AddRoomModel
@{
}

<form method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="text" class="form-control" id="">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Capacity</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Input number">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Equipment</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Input equipment">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Description</label>
        <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>
</form>