@page "/bookings"
@using DSVMeetingRoomBooking.Models
@model DSVMeetingRoomBooking.Pages.BookingsModel
@{
}

<h1>Bookings</h1>
<ul class="booking-list">
@foreach (Booking booking in Model.Bookings)
{
	<li>
		<a asp-page="/BookingDetail" asp-route-id="@booking.RoomId" class="booking-item">
			<img src="~/images/room.jpg" class="booking-item-image" alt="Room Image" />
			<div class="booking-item-content">
				<h2 class="booking-room-name">
				@for (int i = 0; i < Model.MeetingRooms.Count; i++)
				{
					if (Model.MeetingRooms[i].RoomId == booking.RoomId)
					{
						@Model.MeetingRooms[i].Name
					}
				}
				</h2>
				@{
					string startTime = booking.TimeSlot.StartTime.ToString("MMMM d, HH:mm");
					string endTime = booking.TimeSlot.EndTime.ToString("HH:mm");
				}
				<time class="booking-item-timeslot">@(startTime)—@(endTime)</time>
				@if (booking.Comment != null)
				{
				<p class="booking-item-comment">"@(booking.Comment)"</p>
				}
			</div>
		</a>
	</li>
}
</ul>

