@page "/create-booking"
@model DSVMeetingRoomBooking.Pages.CreateBookingModel
@{
}

<h1>Create Booking</h1>
<form method="post">
	<div class="mb-3">
		<label for="employee-id" class="form-label">Employee ID</label>
		<input type="text" class="form-control" asp-for="EmployeeId" id="employee-id" placeholder="Enter your employee ID" />
	</div>
	<div class="mb-3">
		<input type="hidden" class="form-control" asp-for="RoomId" id="room-id" value="@Model.MeetingRoom.RoomId" />
		<p>Meeting room selected: <b>@Model.MeetingRoom.Name</b></p>
	</div>
	<div class="mb-3">
		<label for="comment" class="form-label">Optional comment</label>
		<textarea class="form-control" asp-for="Comment" id="comment" placeholder="Write an optional comment about the meeting"></textarea>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
